.mat-card-Style{width:98%!important;display: inline-block!important;margin: 1%!important;}
.mat-card-actions, .mat-card-content, .mat-card-subtitle{display: flex!important;}
.example-container{width: 100%;}