/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif!important; }

/* mat-sidenav {
    width: 280px;
    padding:15px;
} */
.mat-drawer { 
   /* background-color: #023075;*/
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

mat-form-field{
    width: 400px;
}
.mat-card-header{
    text-align: center;
    /* border-radius: 3px;
    background-color: darkgray; */
    display: block!important;
    /* padding: 5px;
    font-family: Open Sans,sans-serif; */
}
.mat-card-header.mat-card-title{margin: 0px!important;}
.mat-card-header-text{margin: 0px!important;}
.mat-sidenav-container[_ngcontent-c1] {
    height: 85% !important;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option
 .mat-list-item-content{padding: 0 8px!important;}
 mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: #2d3e50!important;
}
.mat-card-header .mat-card-title{margin-bottom:0px!important;}
mat-form-field {width: 100%;}

.mat-form-field-label-wrapper{font-size:16px!important;font-family: Open Sans,sans-serif!important;}
.mat-form-field-infix{font-size: 16px!important;}
.mat-form-field{font-size: 16px!important;font-family: Open Sans,sans-serif!important;}

/* .mat-tool{border-radius: 5px;background: #C6C6CB;height:50px!important;} */

.mat-toolbar-row, .mat-toolbar-single-row{height:50px!important; }
.mat-toolbar-multiple-rows{min-height: 50px!important;}
.mat-tool{background:#c6c6c6!important;border-radius: 5px!important;height:40px!important;}
.mat-list-base .mat-list-item.mat-list-item-with-avatar,.mat-list-base .mat-list-option.mat-list-item-with-avatar{height:50px!important;}

/* notification */

.mat-snack-bar-container {
  margin: 55px 25px!important;
  max-width: 250px!important;
 
}

snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
  }

  snack-bar-container.error {
    background-color: #d9534f;
    color : #fff;
  }

  snack-bar-container.info {
    background-color: #31b0d5;
    color : #fff;
  }

  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    /* font-weight: bold; */
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }

 
  .hide{display: none;
}
.mat-header-cell{font-weight:600!important;font-size: 15px!important;}


/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em!important;
  padding: 0px!important;
  margin-top: 50%!important;
   
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5!important;
  display: flex!important;
}
.confirm-dialog-container #close-icon{
  margin-left: auto!important;
  order: 2!important;
  font-weight: bolder!important;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer!important;
}

.confirm-dialog-container #no-button{
height: 50px!important;
width: 50%!important;
background-color: #fc7169!important;
color:white!important;
border-radius: 0px!important;
}

.confirm-dialog-container #yes-button{
  height: 50px!important;
  width: 50%!important;
  background-color: #b6bece!important;
  color:white!important;
  border-radius: 0px!important;
}

.confirm-dialog-container span.content-span{
  padding:  35px 16px!important;
  text-align: center!important;
  font-size: 18px!important;
}
  /* for dialog pop-up */
  .btn-dialog-close{
    width: 45px!important;
    min-width: 0px !important;
    height: 40px!important;
    padding: 0px !important;
  }

  div.container{
    margin: 0px 40px!important;
}